*{
    background: #F3F5FC;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.top-header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 5%;
    height: 5rem;
    font-family: 'Inter';
}
.logo {
    width: 4.5rem;
    margin-right: 15px;
}
.text_titulo {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}

.area-principal{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.section-input{
    position: relative;
    width: 50%;
}
.container-input{
    width: 90%;
    height: auto;
    padding-left: 6%;
    padding-right: 2%;
}
.text-area{
    width: 100%;
    height: 15rem;
    max-height: 350px;
    resize: none;
    border: none;
    border-radius: 0.5rem;
    color: #0A3871;
    text-transform: lowercase;
    font-size: 1.2rem;
    font-weight: 400;
    outline: none;
    padding: 1.2rem;
    margin: 3%;
    background: white;
}
::placeholder{color: #0A3871;}
    .text-area:focus{
        outline: none;
}
.reglas{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}
.informacion{
    color: #495057;
    font-size: 1.1rem;
}

.botones{
    display: flex;
    width: 90%;
    padding-left: 8%;
}
.btn-desencriptar{
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 1em;
    color: #0A3871;
    cursor: pointer;
    margin-left: 4%;
    width: 60%;
    padding: 0.7rem 0.9rem;
    font-size: 1.2rem;
    transition: 0.5s all;
}
.btn-desencriptar:hover{
    transform: scale(1.1);
}
.btn-encriptar{
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 1em;
    color: white;
    cursor: pointer;
    width: 60%;
    margin-right: 2%;
    padding: 0.7rem 0.9rem;
    font-size: 1.2rem;
    transition: 0.5s all;
}
.btn-encriptar:hover{
    transform: scale(1.1);
}

.section-result{
    padding-right: 5%;
    padding-left: 2%;
    width: 30%;
    height: 540px;
}
.container-result{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 100%;
    border-radius: 1rem;
    padding: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: #FFFFFF;
    position: relative;
}
.container-result > * {
    background-color: inherit;
}
.mensaje{
    word-break: break-all;
    max-height: 280px;
    overflow: auto;
    text-overflow: ellipsis;
    width: 100%;
    height: 5rem;
    resize: none;
    border: none;
    text-transform: lowercase;
    font-size: 1.2rem;
    font-weight: 400;
    outline: none;
    background: transparent;
}
.mensaje:focus{
    outline: none;
}
.container-image {
    position: relative;
    width: 100%;
    max-width: 100%;
    z-index: 1;
}
.container-image img {
    width: 100%;
    max-width: 320px;
    background-color: white;
}
.btn-copiar{
    position: relative;
    display: inline-block;
    overflow: hidden;
    z-index: 1;
    color: #0A3871;
    padding: 0.7rem 0.9rem;
    font-size: 1.2rem;
    border-radius: 1em;
    width: 50%;
    transition: 0.5s all;
}
.btn-copiar:hover{
    transform: scale(1.1);
}

.container-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.redes{
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.trademark{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.copyright{
    font-weight: 400;
    font-size: 1.4rem;
    margin: 0 auto;
    color: #0A3871;
    opacity: 0.9;
}

/*SMARTPHONES*/
@media only screen and (max-width: 440px) {
    * {
      font-size: 0.9rem;
    }
}
/*TABLETS*/
@media only screen and (max-width: 820px) {

    .section-input {
        width: 100%;
    }
    .text-area {
        max-height: 15rem;
    }
    .botones{
        bottom: 1rem;
    }
    .section-result{
        width: 100%;
        padding: 0 5%;
        height: 27rem;
    }
    .mensaje{
        max-height: 15rem;
    }
    .container-image{
        max-height: 220px;
    }
}
